.container {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 48px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  backdrop-filter: saturate(180%) blur(2px);
}

.content {
  display: flex;
  flex-direction: column;
  top: calc(30vh);
  position: relative;
  width: 200px;
  margin: auto;
  text-align: center;
}
