.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container:first-child {
  margin-bottom: 3px;
}

.container.you {
  color: #daea4c;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 85px;
  margin-right: auto;
}

.previousPoints,
.points {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.previousPoints {
  opacity: 0.5;
}
