.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 85px;
  margin-right: 15px;
}

.points {
  margin-right: 15px;
}

.youTag {
  font-weight: bold;
  background: #daea4c;
  color: black;
  border-radius: 0 3px 3px 0;
  font-size: 0.5rem;
  height: 0.96rem;
  padding: 1px 5px;
  padding-bottom: 0;
}

.youTagTriangle {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 10px solid #daea4c;
  border-bottom: 7px solid transparent;
}
