.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container.you {
  color: #daea4c;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 85px;
  margin-right: 15px;
}

.points {
  margin-right: 15px;
}
