.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 65vh 15vh;
  grid-template-areas:
    'main aside'
    'footer footer';
  color: white;
  padding: 0 30px;
}

@media (max-width: 1000px) {
  .container {
    grid-template-rows: 1fr 230px;
    grid-template-areas:
      'aside aside'
      'main main';
  }

  main.main {
    margin-top: 0;
  }
}

.main {
  margin-top: 48px;
  grid-area: main;
}

.aside {
  margin-top: 48px;
  grid-area: aside;
}

.footer {
  background: red;
  grid-area: footer;
}

.formRow {
  display: flex;
}

.membersWithSwitch {
  display: flex;
  align-items: flex-end;
}

.membersWithSwitch.withBtn label:first-child input,
.membersWithSwitch.withBtn label:first-child div {
  margin-right: 5px;
}

.switchBtn {
  cursor: pointer;
  height: 50px;
  background: 0;
  border: 0;
  margin-right: 5px;
}

.switchBtn img {
  height: 20px;
  width: 20px;
  filter: invert(100%) sepia(0%) saturate(7454%) hue-rotate(36deg)
    brightness(90%) contrast(119%);
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}

.switchBtn img:hover {
  background-color: rgba(68, 68, 68, 0.35);
  border-radius: 3px;
  filter: invert(100%) sepia(0%) saturate(7454%) hue-rotate(36deg)
    brightness(90%) contrast(119%);
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}

.inputsContainer {
  display: flex;
}

.inputsContainer span {
  width: 170px;
  margin-right: 32px;
}

.teamRow {
  display: flex;
}
